body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(0, 0, 0);
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 0px;
}

.cell {
  background: #333;
  border: 1px solid #666;
  cursor: pointer;
  transition: 0.2s;
}

.cell:hover {
  /*background: #555;*/
  border: 5px solid rgb(229, 255, 0);

}

/*.cell.selected {
  background: #4caf50;
}
*/
p {
  margin: 0;
  font-size: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}


.safe {
    background-color: rgb(46, 145, 62);
}

.very-low {
    background-color: rgb(255, 253, 128);
}

.low {
    background-color: rgb(255, 251, 0);
}

.medium {
    background-color: rgb(255, 187, 0);
}

.high {
    background-color: rgb(255, 123, 0);
}

.very-high {
    background-color: red;
}

.certain {
    background-color: darkred;
}

.scanned {
    border: 5px solid rgb(255, 255, 255);
}