body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(43, 28, 11);
  font-family: Arial, sans-serif;
  
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(105, 175, 102);
}

.board {
  display: grid;
  width: 90vw;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  gap: 4px;
}

.cell {
  background: rgb(73, 55, 29);
  border: 1px solid #463e34;
  cursor: pointer;
  transition: 0.3s;
  white-space: pre-line;
  width: 90%;
  height: 90%;
  font-size: clamp(10px, 3vw, 18px);
}

.goal {
  animation: goalpulse 5s infinite; /* Apply the animation */  
  outline: 2px solid rgb(0, 255, 0);
}

.player {
    outline: 4px solid rgb(68, 140, 248);
}

.cell:hover {
  /*background: #555;*/
  border: 3px solid rgb(229, 255, 0);

}

/*.cell.selected {
  background: #4caf50;
}
*/
p {
  margin: 0;
  font-size: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.zero {
    background-color: rgb(73, 55, 29);
}

.one {
    background-color: rgba(183, 0, 255,0.25);
}

.two {
    background-color: rgba(183, 0, 255,0.5);
}

.three {
    background-color: rgba(183, 0, 255,0.75);
}

.mine {
  animation: minepulse 1s infinite; /* Apply the animation */
    background-color: rgb(183, 0, 255);
    border: 3px solid rgb(255, 0, 0);
}

.scanned {
    border: 2px solid white;
}

@keyframes minepulse {
  0%, 100% {
    background-color: rgb(255, 0, 255); /* Start color */
  }
  50% {
    background-color: rgba(205, 95, 248, 0.5); /* Mid color */
  }
}

@keyframes goalpulse {
  0%, 100% {
    background-color: rgb(255, 255, 255); /* Start color */
  }
  50% {
    background-color: rgb(0, 0, 0); /* Mid color */
  }
}

/*@keyframes floatAway {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-30px);
    }

}
    */
.damage {
  /*animation: floatAway 1s ease-out;  */
  color: white;
    font-weight: bold;
    
}


