body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(0, 0, 0);
}

.board {
  display: grid;
  gap: 4px;
}

.cell {
  background: #333;
  border: 1px solid #666;
  cursor: pointer;
  transition: 0.2s;
  white-space: pre-line;
}

.goal {
    outline: 4px solid lime;
}

.player {
    outline: 4px solid cyan;
}

.cell:hover {
  /*background: #555;*/
  border: 5px solid rgb(229, 255, 0);

}

/*.cell.selected {
  background: #4caf50;
}
*/
p {
  margin: 0;
  font-size: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  font-weight: bold;
}

.zero {
    background-color: rgb(159, 255, 4);
}

.one {
    background-color: rgb(248, 248, 122);
}

.two {
    background-color: rgb(255, 187, 0);
}

.three {
    background-color: rgb(220, 0, 0);
}

.mine {
    background-color: rgb(170, 0, 255);
}

.scanned {
    border: 5px solid white;
}